<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/layout}">

<main layout:fragment="content">
    <div class="container mt-4">
        <section class="pointer fw-bold" onclick="location.href='/community'">
            <i class="fa-solid fa-arrow-rotate-left"></i> 목록으로
        </section>
        <h1 th:text="${community.title}">board title</h1>
        <p class="text-muted">작성자 : <span th:text="${community.writer.nickName}">nickname</span></p>
        <p class="text-muted">조회 수 : <span th:text="${community.hits}">0</span></p>
        <hr>
        <div th:utext="${community.content}">board content</div>
        <div class="mt-4">
            <a th:href="@{/community/update/{id}(id=${community.id})}" class="btn btn-primary mr-2">update</a>
            <a th:href="@{/api/community/delete/{id}(id=${community.id})}" class="btn btn-danger">delete</a>
        </div>
    </div>
</main>
</html>