<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/layout}">

<main layout:fragment="content">
    <!--<script>
        const Toast = Swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 1000,
            // timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })
        function onSubmitHandler (formElem) {
            const elems = Object.values(formElem);
            for (const elem of elems) {
                if (elem.name && !elem.value) {
                    Toast.fire({
                        icon: "error",
                        title: '입력하세요'
                    })
                    return false;
                }
            }
            return true;
        }
    </script>-->
    <div class="container mt-4">
        <h1 th:text="${community.title}">board title</h1>
        <p class="text-muted">작성자 : <span th:text="${community.writer.nickName}">nickname</span></p>
        <p class="text-muted">조회 수 : <span th:text="${community.hits}">0</span></p>
        <hr>
        <div th:text="${community.content}">board content</div>
        <div class="mt-4">
            <a th:href="@{/edit/{id}(id=${community.id})}" class="btn btn-primary mr-2">update</a>
            <a th:href="@{/delete/{id}(id=${community.id})}" class="btn btn-danger">delete</a>
        </div>
    </div>
</main>
</html>