<!DOCTYPE html>
<html

        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/layout}">

<main layout:fragment="content">
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Tables</h1>
        <p class="mb-4">
            DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
        </p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>No</th><!--닉네임-->
                            <th>제목</th>
                            <th>작성자</th>
                            <th>조회수</th>
                            <th>작성일</th>
                        </tr>
                        </thead>
                        <tfoot>
                            <tr th:each="community : ${communityList}">
                                <td th:text="${community.getId()}">Id</td>
                                <td th:text="${community.getTitle()}">제목</td>
                                <td th:text="${community.getWriter()}">작성자</td>
                                <td th:text="${community.getHits()}">조회수</td>
                                <td th:text="${community.getCreatedTime()()}">작성일</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Page level script -->
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script >
        $(document).ready(function() {
            $('#dataTable').DataTable();
        });
    </script>
</main>
</html>