<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/layout}">

<main layout:fragment="content">
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 1000,
            // timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        function onSubmitHandler(formElem) {
            const elems = Object.values(formElem);
            for (const elem of elems) {
                if (elem.name && !elem.value) {
                    Toast.fire({
                        icon: "error",
                        title: '입력하세요'
                    })
                    return false;
                }
            }
            return true;
        }
    </script>
    <form th:action="@{/api/community/{id}(id=${community.id})}" method="post">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" name="title" th:value="${community.title}" required>
        </div>
        <div class="form-group">
            <label for="content">내용</label>
          <!--  <input type="text" class="form-control" id="content" name="content" th:value="${community.content}" rows="5" required>-->
            <textarea class="form-control" id="content" name="content" rows="5" required th:utext="${community.content}"></textarea>
        </div>
        <!-- 필요한 수정 폼 필드 추가 -->

        <button type="submit" class="btn btn-primary">수정</button>
    </form>
</main>
</html>