<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/layout}">
<main layout:fragment="content">
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: 'center',
            showConfirmButton: false,
            confirmButtonColor: "#3565AE",
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        async function addToPokemonCart(doToast = true) {
            const currentURL = window.location.href;
            const urlParts = currentURL.split('/');
            const id = urlParts[urlParts.length - 1];
            const amount = +document.getElementById("var-value").innerHTML;
            const response = await fetch("/api/cart/pokemon", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    productId: id,
                    amount,
                }),
            })
            if (response.status === 401) {
                window.location.href = "/user/login";
                return false;
            }
            if (response.ok) {
                doToast &&
                await Toast.fire({
                    icon: "success",
                    title: "장바구니에 담겼어요",
                    showConfirmButton: true,
                    showCancelButton: true,
                    confirmButtonText: '장바구니 가기',
                    cancelButtonText: `취소`,
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "/cart";
                    }
                })
                return true;
            } else {
                doToast && Toast.fire({
                    icon: "error",
                    title: "뭔가 오류에요",
                })
                return false;
            }
        }

        async function addToItemCart(doToast = true) {
            const currentURL = window.location.href;
            const urlParts = currentURL.split('/');
            const id = urlParts[urlParts.length - 1];
            const amount = +document.getElementById("var-value").innerHTML;
            const response = await fetch("/api/cart/item", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    productId: id,
                    amount,
                }),
            })
            if (response.status === 401) {
                window.location.href = "/user/login";
                return false;
            }
            if (response.ok) {
                doToast && await Toast.fire({
                    icon: "success",
                    title: "장바구니에 담겼어요",
                    showConfirmButton: true,
                    showCancelButton: true,
                    confirmButtonText: '장바구니 가기',
                    cancelButtonText: `취소`,
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "/cart";
                    }
                })
                return true;
            } else {
                doToast && Toast.fire({
                    icon: "error",
                    title: "뭔가 오류에요",
                })
                return false;
            }
        }

        async function buyButtonHandler(callback) {
            const ok = await callback(false);
            if (ok) {
                window.location.href = '/cart';
            }
        }
    </script>
    <!-- Slick -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/slick.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/slick-theme.css}">
    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <th:block th:each="p : ${product}">
                <div class="row">
                    <div class="col-lg-5 mt-5">
                        <div class="card mb-3">
                            <img th:if="${productKind eq 'pokemon'}" class="card-img img-fluid"
                                 th:src="@{/img/pokemon/{name}.png(name=${#strings.replace(p.name, ' ', '')})}"
                                 alt="Card image cap" id="product-detail">
                            <img th:if="${productKind eq 'item'}" class="card-img img-fluid"
                                 th:src="@{/img/item/{name}.png(name=${#strings.replace(p.name, ' ', '')})}"
                                 alt="Card image cap" id="product-detail">
                        </div>
                        <div class="row">
                            <!--Start Controls-->
                            <div class="col-1 align-self-center">
                                <a href="#multi-item-example" role="button" data-bs-slide="prev">
                                    <i class="text-dark fas fa-chevron-left"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </div>
                            <!--End Controls-->
                            <!--Start Carousel Wrapper-->
                            <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item"
                                 data-bs-ride="carousel">
                                <!--Start Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <div th:each="slideIndex : ${#numbers.sequence(0, 1)}"
                                         th:classappend="${slideIndex == 0} ? 'carousel-item active' : 'carousel-item'">
                                        <div class="row">
                                            <div th:each="imageIndex : ${#numbers.sequence(slideIndex * 3 + 1, slideIndex * 3 + 3)}"
                                                 class="col-4">
                                                <a href="#">
                                                    <img th:if="${productKind eq 'pokemon'}" class="card-img img-fluid"
                                                         th:src="@{/img/pokemon/{name}.png(name=${#strings.replace(p.name, ' ', '')})}"
                                                         alt="Card image cap" id="product-detail">
                                                    <img th:if="${productKind eq 'item'}" class="card-img img-fluid"
                                                         th:src="@{/img/item/{name}.png(name=${#strings.replace(p.name, ' ', '')})}"
                                                         alt="Card image cap" id="product-detail">
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--End Slides-->
                            </div>
                            <!--End Carousel Wrapper-->
                            <!--Start Controls-->
                            <div class="col-1 align-self-center">
                                <a href="#multi-item-example" role="button" data-bs-slide="next">
                                    <i class="text-dark fas fa-chevron-right"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <!--End Controls-->
                        </div>
                    </div>
                    <!-- col end -->
                    <div class="col-lg-7 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="h2" th:text="${p.name}">제품명</h1>
                                <p class="h3 py-2" th:text="'₽' + ${p.price}">₽1000</p>
                                <p class="py-2">
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <span class="list-inline-item text-dark">Rating 4.8 | 36 Comments</span>
                                </p>
                                <ul class="list-inline" th:if="${productKind eq 'pokemon'}">
                                    <li class="list-inline-item">
                                        <h6>Type :</h6>
                                    </li>
                                    <li class="list-inline-item">
                                        <p class="text-muted"><strong th:class="${'tx_'+p.type.eng}"
                                                                      th:text="${p.type.ko}">타입</strong></p>
                                    </li>
                                </ul>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <h6>Kind:</h6>
                                    </li>
                                    <li class="list-inline-item">
                                        <p class="text-muted"><strong th:text="${productKind}">제품 분류</strong></p>
                                    </li>
                                </ul>
                                <h6>Description:</h6>
                                <p th:text="${p.description}" id="description">제품 설명</p>
                                <form action="" method="GET">
                                    <input type="hidden" name="product-title" th:value="${p.name}">
                                    <div class="row">
                                        <div class="col-auto">
                                            <ul class="list-inline pb-3">
                                                <li class="list-inline-item text-right">
                                                    Quantity
                                                    <input type="hidden" name="product-quanity" id="product-quanity"
                                                           value="1">
                                                </li>
                                                <li class="list-inline-item"><span class="btn btn-success"
                                                                                   id="btn-minus">-</span></li>
                                                <li class="list-inline-item"><span class="badge bg-secondary"
                                                                                   id="var-value">1</span></li>
                                                <li class="list-inline-item"><span class="btn btn-success"
                                                                                   id="btn-plus">+</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row pb-3">
                                        <div class="col d-grid">
                                            <button type="button"
                                                    th:if="${productKind eq 'pokemon'}"
                                                    th:onclick="|buyButtonHandler(addToPokemonCart)|"
                                                    class="btn btn-success btn-lg" name="submit" value="addtocard">
                                                BUY
                                            </button>
                                            <button type="button"
                                                    th:if="${productKind eq 'item'}"
                                                    th:onclick="|buyButtonHandler(addToItemCart)|"
                                                    class="btn btn-success btn-lg" name="submit" value="addtocard">
                                                BUY
                                            </button>
                                        </div>
                                        <div class="col d-grid">
                                            <button type="button"
                                                    th:if="${productKind eq 'pokemon'}"
                                                    th:onclick="|addToPokemonCart()|"
                                                    class="btn btn-success btn-lg" name="submit" value="addtocard">Add
                                                To Cart
                                            </button>
                                            <button type="button"
                                                    th:if="${productKind eq 'item'}"
                                                    th:onclick="|addToItemCart()|"
                                                    class="btn btn-success btn-lg" name="submit" value="addtocard">Add
                                                To Cart
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row pb-3">
                                        <div class="col d-grid">
                                            <button type="button" class="btn btn-secondary btn-lg"
                                                    onclick="location.href='/shop'">목록으로
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </section>
    <!-- Close Content -->

    <!-- Start Article -->
    <section class="py-5">
        <div class="container">
            <div class="row text-left p-2 pb-3">
                <h4>Related Products</h4>
            </div>

            <!--Start Carousel Wrapper-->
            <div id="carousel-related-product">

                <div th:each="recent : ${recentList}" class="p-2 pb-3">
                    <div class="product-wap card rounded-0">
                        <div class="card rounded-0">
                            <img th:if="${productKind eq 'pokemon'}" id="shop_defaultImg"
                                 class="card-img rounded-0 img-fluid"
                                 th:src="@{/img/pokemon/{name}.png(name=${#strings.replace(recent.name, ' ', '')})}"
                                 th:alt="${recent}">
                            <img th:if="${productKind eq 'item'}" id="shop_defaultImg"
                                 class="card-img rounded-0 img-fluid"
                                 th:src="@{/img/item/{name}.png(name=${recent.name})}" th:alt="${recent}">
                            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-success text-white" href="shop-single.html"><i
                                            class="far fa-heart"></i></a></li>
                                    <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
                                            class="far fa-eye"></i></a></li>
                                    <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
                                            class="fas fa-cart-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body pointer"
                             th:attr="data-product-kind=${productKind}, data-recent-id=${recent.id}"
                             th:onclick="|recentProduct(this.getAttribute('data-product-kind'), this.getAttribute('data-recent-id'))|">
                            <a class="h3 text-decoration-none" th:text="${recent.name}">이름</a>
                            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                <li th:if="${productKind eq 'pokemon'}" th:class="'tx_'+${recent.type.eng}"
                                    th:text="${recent.type.ko}">타입
                                </li>
                                <li th:if="${productKind eq 'item'}" th:text="${recent.type}">타입</li>
                                <li class="pt-2">
                                    <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                </li>
                            </ul>
                            <ul class="list-unstyled d-flex justify-content-center mb-1">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                            </ul>
                            <p class="text-center mb-0" th:text="'₽'+${recent.price}">가격</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Article -->
    <script th:src="@{/js/slick.min.js}"></script>
    <script>
        $('#carousel-related-product').slick({
            infinite: true,
            arrows: false,
            slidesToShow: 4,
            slidesToScroll: 3,
            dots: true,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3
                }
            },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                }]
        });

        const recentProduct = (productKind, recentId) => {
            location.href = '/shop/' + productKind + '/' + recentId;
        }
    </script>
</main>

</html>