<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/layout}">
<main layout:fragment="content">
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 1000,
            // timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        function inputFieldOnFocusHandler(elem) {
            const desc = elem.getAttribute('aria-describedby');
            document.getElementById(desc).classList.toggle("hidden");
        }

        async function isUnique(type, value) {
            const response = await fetch(`/api/user/check/${type}?${type}=${value}`)
            if (!response.ok) {
                Toast.fire({
                    icon: "error",
                    title: `사용할 수 없는 ${type}입니다.`
                })
            }
            console.log(`/api/user/check/${type}`);
            return response.ok;
        }

        async function onSubmitHandler(event) {
            event.preventDefault();
            const formElem = document.getElementById("formElem");
            for (const elem of Object.values(formElem)) {
                if (!elem.name) continue;
                const inputValue = elem.value;
                if (!inputValue) {
                    elem.focus();
                    Toast.fire({
                        icon: "error",
                        title: "이 필드를 채워주세요."
                    })
                    return;
                }
            }
            // const regexPattern = /^(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[a-z\d@$!%*?&]/;
            const password = document.getElementById("passwordInput");
            const passwordCheck = document.getElementById("passwordCheck");
            if (password.value !== passwordCheck.value) {
                passwordCheck.focus();
                Toast.fire({
                    icon: "error",
                    title: "비밀번호가 일치하지 않습니다."
                })
                return;
            }
            const email = document.getElementById("emailInput").value;
            const nickName = document.getElementById("nickNameInput").value;
            const isUniqueEmail = await isUnique("email", email);
            const isUniqueNickName = await isUnique("nickName", nickName);
            if (isUniqueEmail && isUniqueNickName) {
                formElem.submit();
            }
        }

        document.addEventListener("DOMContentLoaded", () => {
            const formElem = document.getElementById("formElem");
            formElem.addEventListener("submit", onSubmitHandler);
        })
    </script>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <h2 class="mb-4">회원가입</h2>
                <form action="/api/user/join" id="formElem" method="post">
                    <div class="mb-3">
                        <label for="emailInput" class="form-label">이메일</label>
                        <input name="email" type="email" class="form-control" id="emailInput"
                               placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="passwordInput" class="form-label">비밀번호</label>
                        <input name="password" type="password" id="passwordInput" class="form-control"
                               onfocus="inputFieldOnFocusHandler(this)"
                               onblur="inputFieldOnFocusHandler(this)"
                               aria-describedby="passwordHelpBlock">
                        <div id="passwordHelpBlock" class="form-text hidden">
                            Your password must be 8-20 characters long, contain letters and numbers, and must not
                            contain spaces, special characters, or emoji.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="passwordInput" class="form-label">비밀번호 확인</label>
                        <input type="password" id="passwordCheck" class="form-control"
                               onfocus="inputFieldOnFocusHandler(this)"
                               onblur="inputFieldOnFocusHandler(this)"
                               aria-describedby="passwordCheckHelpBlock">
                        <div id="passwordCheckHelpBlock" class="form-text hidden">
                            Your password must be 8-20 characters long, contain letters and numbers, and must not
                            contain spaces, special characters, or emoji.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="nickNameInput" class="form-label">트레이너명</label>
                        <input name="nickName" type="text" class="form-control" id="nickNameInput"
                               placeholder="young1the"
                               onfocus="inputFieldOnFocusHandler(this)"
                               onblur="inputFieldOnFocusHandler(this)"
                               aria-describedby="nickNameHelpBlock">
                        <div id="nickNameHelpBlock" class="form-text hidden"
                        >
                            포켓몬 마스터가 되기 위한 여정을 우리가 응원합니다. 우리에게 당신의 트레이너명을 알려주세요.
                        </div>
                    </div>
                    <button type="submit" class="w-100 btn btn-primary">회원가입</button>
                </form>
            </div>
        </div>
    </div>
</main>
</html>