<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/layout}">
<main layout:fragment="content">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h2 class="mb-4">로그인</h2>
                <form action="/api/user/login" method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">이메일</label>
                        <input name="email" type="email" class="form-control" id="email"
                               placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">비밀번호</label>
                        <input name="password" type="password" id="password" class="form-control">
<!--                        <input type="checkbox" id="keep" name="" value="off">-->
<!--                        <label for="keep" class="">로그인 상태 유지</label>-->
                    </div>
                    <input type="hidden" name="callback" th:value="${callback!=null?callback:''}">
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
                <p class="mt-3" align="center">계정이 없으세요?<br> <a class="btn btn-success" href="/user/join">넌 내꺼야!</a></p>
            </div>
        </div>
    </div>
</main>
</html>