<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/layout}">
<main layout:fragment="content" style="padding: 16px">
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        async function changeTeam(teamName) {
            const response = await fetch("/api/user/changeTeam", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    teamName,
                })
            })
            return response.ok;
        }

        const teamWelcomeMessage = {
            Mystic: "환영해요! 마법과 신비로움을 추구하는 Mystic 팀에 오신 것을 환영합니다. ",
            Instinct: "어서오세요! 직감과 감성을 중시하는 Instinct 팀에 환영합니다.",
            Valor: "반가워요! 용기와 열정을 지향하는 Valor 팀에 오신 걸 환영합니다.",
        }

        async function selectTeam(teamName) {
            const teamNameElem = document.getElementById("teamName");
            const teams = document.getElementsByClassName("teams");
            teamNameElem.value = teamName;
            const ok = await changeTeam(teamName);
            if (!ok) {
                return;
            }
            Toast.fire({
                icon: 'success',
                title: teamWelcomeMessage[teamName]
            })
            document.getElementById("showTeamName").innerText = teamName;
            for (const team of teams) {
                if (team.id === teamName) {
                    team.classList.remove("brand-img");
                } else {
                    if (!team.classList.contains("brand-img")) {
                        team.classList.add("brand-img");
                    }
                }
            }
        }
    </script>
    <section class="container py-3">
        <label class="pointer fw-bold position-absolute" onclick="location.href='/mypage'">
            <i class="fa-solid fa-arrow-rotate-left"></i> 뒤로 가기
        </label>
    </section>
    <section class="container">
        <div class="card my-4">
            <div class="card-body">
                <h1>User Information</h1>
                <p><b>Email: </b><span th:text="${user.email}"></span></p>
                <p><b>Nickname: </b><span th:text="${user.nickName}"></span></p>
                <p><b>Team: </b><span id="showTeamName" th:text="${user.team}"></span></p>
            </div>
        </div>
        <form th:action="@{/api/user/updateProfile}" method="post">
            <div class="card my-4">
                <div class="card-body">
                    <h2>Choose Your Team</h2>
                    <div class="row">
                        <div class="col-4 p-md-5 d-flex justify-content-center" onclick="selectTeam('Mystic')">
                            <img id="Mystic" class="teams img-fluid brand-img w-75" th:src="@{'/img/team/Team Mystic.svg'}"
                                 alt="Team Mystic"/>
                        </div>
                        <div class="col-4 p-md-5 d-flex justify-content-center" onclick="selectTeam('Instinct')">
                            <img id="Instinct" class="teams img-fluid brand-img w-75" th:src="@{'/img/team/Team Instinct.svg'}"
                                 alt="Team Instinct"/>
                        </div>
                        <div class="col-4 p-md-5 d-flex justify-content-center" onclick="selectTeam('Valor')">
                            <img id="Valor" class="teams img-fluid brand-img w-75" th:src="@{'/img/team/Team Valor.svg'}"
                                 alt="Team Valor"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card my-4">
                <div class="card-body">
                <input id="teamName" type="hidden" name="teamName"/>
                <input type="hidden" name="email" th:value="${user.email}"/>
                <h2>닉네임 변경</h2>
                <label for="nickname"><b>Nickname:</b></label>
                <input type="text" id="nickname" name="nickname" th:value="${user.nickName}" class="form-control d-inline-block w-50"/>
                <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
        <form action="/api/user/withdraw" method="post" style="border: solid 1px red; padding: 8px">
            <div class="mb-3">
                <label for="userEmail" class="form-label">이메일</label>
                <input id="userEmail" class="form-control" type="email" readonly name="email" th:value="${user.email}">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">비밀번호</label>
                <input name="password" type="password" id="password" class="form-control">
            </div>
            <button class="btn btn-danger"  type="submit">회원탈퇴</button>
        </form>
    </section>
</main>
</html>