<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/layout}">

<main layout:fragment="content">
    <script>
        $(document).ready(() => {
            DataTable();
        })

        const Toast = Swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 1000,
            // timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        function allCheckClickHandler(allCheck) {
            const checkboxes = document.getElementsByClassName('agreements');
            for (const checkbox of checkboxes) {
                checkbox.checked = allCheck.checked;
            }
        }

        function checkClickHandler() {
            const checkboxes = document.getElementsByClassName('agreements');
            let allChecked = true;
            for (const checkbox of checkboxes) {
                if (!checkbox.checked) {
                    allChecked = false;
                    break;
                }
            }
            const allCheckElem = document.getElementById('checkall');
            console.log(allCheckElem);
            allCheckElem.checked = allChecked;
        }

        async function onSubmitHandler() {
            const formElem = document.getElementById("formElem")
            const formData = new URLSearchParams(new FormData(formElem));
            const response = await fetch("/api/admin/order", {
                method: "PUT",
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
                },
                body: formData.toString(),
            });
            if (response.ok) {
                await Toast.fire({
                    icon: 'success',
                    title: "주문 상태가 변경 되었어요."
                });
                window.location.reload();
            } else {
                Toast.fire({
                    icon: "error",
                    title: "뭔가 이상해요."
                })
            }
        }
    </script>
    <section class="container-fluid py-3">
        <label class="pointer fw-bold position-absolute" onclick="history.back()">
            <i class="fa-solid fa-arrow-rotate-left"></i> Back
        </label>
    </section>
    <section class="container-fluid py-2">
        <h1 class="h1">Manage Order Status</h1>
    </section>
    <section class="container-fluid pb-3">
        <div class="card">
            <button class="btn btn-dark mr-2" onclick="onSubmitHandler()">일괄적용</button>
            <form class="card-body" id="formElem">
                <div class="mx-auto mb-3">
                    <select id="newStatus" name="status">
                        <option value="주문 접수">주문 접수</option>
                        <option value="집하 처리">집하 처리</option>
                        <option value="배송 중">배송 중</option>
                        <option value="배송 완료">배송 완료</option>
                        <option value="배송 오류">배송 오류</option>
                    </select>
                </div>
                <table class="table table-bordered" id="dataTable">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>주문번호</th>
                        <th>주문상태</th>
                        <th>주문내역</th>
                        <th>배송지</th>
                        <th>수령인</th>
                        <th>배송요청</th>
                        <th>주문시간</th>
                        <th>주문자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="purchase : ${purchaseList}">
                        <td><input type="checkbox" name="targets" th:value="${purchase.orderId}"></td>
                        <td th:text="${purchase.orderId}">Id</td>
                        <td><b><span th:text="${purchase.status.ko}" th:class="${purchase.status}">주문 상태</span></b></td>
                        <td>
                            <div class="d-flex p-2" th:each="product : ${purchase.orderHistoryAsList}">
                                <div class="rounded">
                                    <img th:if="${product.productId.startsWith('p')}" class="product_img"
                                         th:src="@{'/img/pokemon/'+${product.name}+'.png'}" th:alt="${product.name}">
                                    <img th:if="${product.productId.startsWith('i')}" class="product_img"
                                         th:src="@{'/img/item/'+${product.name}+'.png'}" th:alt="${product.name}">
                                </div>
                                <div class="d-flex flex-column px-3">
                                    <span class="product_date"
                                          th:text="(${#temporals.format(purchase.createdTime, 'yyyy') == #temporals.format(#temporals.createNow(), 'yyyy')} ? ${#temporals.format(purchase.createdTime, 'MM. dd.')}+' 결재' : ${#temporals.format(purchase.createdTime, 'yyyy. MM. dd.')}+' 결재')">날짜 표시</span>
                                    <strong><span
                                            th:text="${product.amount == 1 ? product.name : product.name + ' × ' + product.amount}"></span></strong>
                                    <span class="product_total_price"
                                          th:text="'₽' + ${#numbers.formatDecimal(product.price * product.amount, 0, 'COMMA', 0, 'POINT')}"></span>
                                </div>
                            </div>
                        </td>
                        <td th:text="${purchase.address}"></td>
                        <td th:text="${purchase.recipient}"></td>
                        <td th:text="${purchase.deliveryRequest}"></td>
                        <td th:text="${purchase.createdTime}"></td>
                        <td><a th:href="|/admin/userInfo/${purchase.userId}|">주문자 정보 보기</a></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </section>
</main>
</html>