<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/layout}">

<main layout:fragment="content">
    <th:block th:include="fragments/nav"></th:block>
    <section class="py-3">
        <div class="container" th:each="purchase : ${purchaseList}">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-body rounded shadow">
                            <h5 class="card-text"><b><span th:text="${purchase.status.ko}" th:class="${purchase.status}">주문 상태</span></b></h5>
                            <div th:each="product : ${purchase.orderHistoryAsList}">
                                <div th:text="${product.productId}"></div>
<!--                                <div th:if="${product.productId.startsWith('p')}">-->
<!--                                    &lt;!&ndash; productType이 pokemon인 경우 &ndash;&gt;-->
<!--                                    <img th:src="@{/img/pokemon/${product.name}}" th:alt="${product.name}">-->
<!--                                </div>-->
<!--                                <div th:if="${product.productId.startsWith('i')}">-->
<!--                                    &lt;!&ndash; productType이 item인 경우 &ndash;&gt;-->
<!--                                    <img th:src="@{/img/item/${product.name}}" th:alt="${product.name}">-->
<!--                                </div>-->
<!--                                <label th:text="${product.name} + ' × ' + ${product.amount}"></label>-->
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</html>