<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer class="bg-dark" id="tempaltemo_footer" th:fragment="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo pokemon" data-before-text="Pokémon">
                    Pokémon
                    <p class="pokemon subtitle" data-before-text="GoChoWoo">GoChoWoo</p>
                </h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        23, Digital-ro 9-gil, Geumcheon-gu, Seoul, Korea
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:010-1234-5678">010-1234-5678</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:GoChoWoo@pokemon.com">GoChoWoo@pokemon.com</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light Products">Products</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="/shop">All</a></li>
                    <li><a class="text-decoration-none" href="/shop?kind=pokemon">Pokémon's</a></li>
                    <li><a class="text-decoration-none" href="/shop?kind=item">Item's</a></li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light Further">Further Info</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="/">Home</a></li>
                    <li><a class="text-decoration-none" href="/shop">Shop</a></li>
                    <li><a class="text-decoration-none" href="/community">Community</a></li>
                    <li><a class="text-decoration-none" href="/mypage">MyPage</a></li>
                </ul>
            </div>

        </div>

        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none"  href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none"  href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none"  href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none"  href="https://github.com/young1the/gochowoo"><i class="fab fa-github fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none"  href="/admin"><i class="fa-solid fa-screwdriver-wrench" style="color: #758eb8;"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none"  href="/This_is_Error_Page"><i class="fa-solid fa-triangle-exclamation fa-fade" style="color: #b71f1f;"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2023 GoChoWoo
                        | Designed by <a rel="sponsored" href="https://github.com/young1the/gochowoo" target="_blank">Go & Cho & Woo</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>