<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center pokemon" href="/" data-before-text="Pokémon">
                Pokémon
                <p class="pokemon subtitle" data-before-text="GoChoWoo">GoChoWoo</p>
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/shop">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/community">Community</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/mypage">Mypage</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <form action="https://pokemonkorea.co.kr/pokedex" method="get" class="modal-content modal-body border-0 p-0">
                            <div class="input-group">
                                <input type="text" class="form-control" id="inputModalSearch" name="word" placeholder="포켓몬 이름 또는 설명, 특성 키워드를 입력해주세요.">
                                <input type="hidden" name="characters" value="">
                                <input type="hidden" name="area" value="">
                                <input type="hidden" name="snumber" value="1">
                                <input type="hidden" name="snumber2" value="1010">
                                <input type="hidden" name="sortselval" value="number asc,number_count asc">
                                <input type="hidden" name="typetextcs" value="">
                                <button class="input-group-text" type="submit">
                                    <i class="fa fa-fw fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                        <i class="fa fa-fw fa-search text-dark mr-2"></i>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="/cart">
                        <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                    </a>
                    <a th:if="${session.email} == null"  href="/user/login" class="nav-icon position-relative text-decoration-none">
                        <i class="fa fa-fw fa-user text-dark mr-3"></i>
                    </a>
                    <a th:if="${session.email} != null"  href="#" class="nav-icon position-relative text-decoration-none" onclick="logout()">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <script>
                            const logout = () => {
                                const form = document.createElement('form');
                                form.method = 'POST';
                                form.action = '/api/user/logout';

                                document.body.appendChild(form);
                                form.submit();
                            }
                        </script>
                    </a>
                </div>
            </div>

        </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <form action="https://pokemonkorea.co.kr/pokedex" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group m-4">
                    <img src="https://pokemonkorea.co.kr/img/icon/icon_ball_b.png" id="icon_ball_b" class="mx-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="word" placeholder="포켓몬 이름 또는 설명, 특성 키워드를 입력해주세요.">
                    <input type="hidden" name="characters" value="">
                    <input type="hidden" name="area" value="">
                    <input type="hidden" name="snumber" value="1">
                    <input type="hidden" name="snumber2" value="1010">
                    <input type="hidden" name="sortselval" value="number asc,number_count asc">
                    <input type="hidden" name="typetextcs" value="">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</header>
</html>