<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pokémon GoChoWoo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/templatemo.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/pokemon-type.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="../css/fontawesome.min.css">

</head>

<body>
    <!-- Start Top Nav -->
    <!-- <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                </div>
                <div>
                    <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
                </div>
            </div>
        </div>
    </nav> -->
    <!-- Close Top Nav -->


    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center pokemon" href="index.html" data-before-text="Pokémon">
                Pokémon
                <p class="pokemon subtitle" data-before-text="GoChoWoo">GoChoWoo</p>
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="shop.html">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                        <i class="fa fa-fw fa-search text-dark mr-2"></i>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="#">
                        <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">7</span>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="#">
                        <i class="fa fa-fw fa-user text-dark mr-3"></i>
                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">+99</span>
                    </a>
                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid-banner" src="assets/img/pockemon/이상해씨.png" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>이상해씨</b> 0001</h1>
                                <h3 class="h2">풀 속성 포켓몬</h3>
                                <p>
                                    이상해씨는 포켓몬스터(Pokémon) 시리즈에 등장하는 풀 속성의 포켓몬입니다.
                                    그 독특한 생김새와 다양한 특성으로 많은 이들의 관심을 받고 있습니다.
                                    <a rel="sponsored" class="text-success" href="https://pokemonkorea.co.kr/pokedex/view/1?word=%ED%92%80&characters=&area=&snumber=1&snumber2=1010&typetextcs=_________________&sortselval=number%20asc,number_count%20asc" target="_blank">이상해씨</a>는 주로 초목이나 풀에서 발견되며, 햇빛을 받으면 성장하는 특징을 가지고 있습니다.
                                    물 속성 포켓몬인 이상해꽃으로 진화할 수 있습니다.
                                </p>
                            </div>                            
                        </div>                      
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid-banner" src="assets/img/pockemon/파이리.png" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>파이리</b> 0004</h1>
                                <h3 class="h2">불 속성 포켓몬</h3>
                                <p>
                                    파이리는 포켓몬스터(Pokémon) 시리즈에 등장하는 불 속성의 포켓몬입니다.
                                    이 작고 귀여운 포켓몬은 작은 꼬리의 불꽃을 태우고 있어 불꽃을 뿜을 때 불꽃을 내뿜습니다.
                                    불 속성 특유의 열정과 에너지를 지닌 파이리는 매력적인 포켓몬 중 하나입니다.
                                    <a rel="sponsored" class="text-success" href="https://pokemonkorea.co.kr/pokedex/view/6?word=%ED%8C%8C%EC%9D%B4%EB%A6%AC&characters=&area=&snumber=1&snumber2=1010&typetextcs=_________________&sortselval=number%20asc,number_count%20asc" target="_blank">파이리</a>는 불꽃을 조절하여 자신을 보호하거나 공격하는 데 사용합니다.
                                    화염을 다루는 능력을 가진 파이리는 시간이 흐르면 불꽃을 내뿜는 힘이 강해져 진화하여 리자드, 그리고 최종 진화로는 리자몽으로 진화할 수 있습니다.
                                </p>
                            </div>                            
                        </div>                
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid-banner" src="assets/img/pockemon/꼬부기.png" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>꼬부기</b> 0007</h1>
                                <h3 class="h2">물 속성 포켓몬</h3>
                                <p>
                                    꼬부기는 포켓몬스터(Pokémon) 시리즈에 등장하는 물 속성의 포켓몬입니다.
                                    등에 큰 껍질을 쓴 모습이 특징이며, 이 껍질은 자신을 보호하는 역할을 합니다.
                                    <a rel="sponsored" class="text-success" href="https://pokemonkorea.co.kr/pokedex/view/12?word=%EA%BC%AC%EB%B6%80%EA%B8%B0&characters=&area=&snumber=1&snumber2=1010&typetextcs=_________________&sortselval=number%20asc,number_count%20asc" target=_blank">꼬부기</a>는 자연적인 수영 능력을 가지고 있어 물에서 뛰어난 힘과 민첩성을 발휘합니다.
                                    성장하면서 껍질도 함께 커지며, 최종 진화로는 거북왕으로 진화할 수 있습니다.
                                    꼬부기는 안정적이고 신중한 성격을 가지고 있는 포켓몬 중 하나입니다.
                                </p>
                            </div>                            
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-8 m-auto">
                <h1 class="h1">Categories of The Pokémon</h1>
                <p>
                    "Categories of The Pokémon" provides insights into the diverse classifications of Pokémon, offering players a glimpse into their unique traits and aiding strategic exploration.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#normal">
                    <div class="icon normal">
                        <img src="assetsmg/pockemon/type/normal.svg"/>
                    </div>
                </a>
                <h5 class="text-center mt-3 mb-3">Normal</h5>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#fire">
                    <div class="icon fire">
                        <img src="assetsmg/pockemon/type/fire.svg"/>
                    </div>
                </a>
                <h5 class="text-center mt-3 mb-3">Fire</h5>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#grass">
                    <div class="icon grass">
                        <img src="assetsmg/pockemon/type/grass.svg"/>
                    </div>
                </a>
                <h5 class="text-center mt-3 mb-3">Grass</h5>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#water">
                    <div class="icon water">
                        <img src="assetsmg/pockemon/type/water.svg"/>
                    </div>
                </a>
                <h5 class="text-center mt-3 mb-3">Water</h5>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#electric">
                    <div class="icon electric">
                        <img src="assetsmg/pockemon/type/electric.svg"/>
                    </div>
                </a>
                <h5 class="text-center mt-3 mb-3">Electric</h5>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#rock">
                    <div class="icon rock">
                        <img src="assetsmg/pockemon/type/rock.svg"/>
                    </div>
                </a>
                <h5 class="text-center mt-3 mb-3">Rock</h5>
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->


    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-8 m-auto">
                    <h1 class="h1">Popular Pokémon</h1>
                    <p>
                        Discover the Trendiest Selections That Everyone Loves.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a class="p-2" href="shop-single.html">
                            <img src="assets/img/pockemon/피카츄.png" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body electric">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li><b>전기</b> 타입</li>
                                <li class="text-muted text-right">₽240</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">피카츄</a>
                            <p class="card-text">
                                양 볼에는 전기를 저장하는 주머니가 있다. 화가 나면 저장한 전기를 단숨에 방출한다.                            </p>
                            <p class="text-muted">Reviews (24)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a class="p-2" href="shop-single.html">
                            <img src="assets/img/pockemon/뮤.png" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body psychic">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li><b>에스퍼</b> 타입</li>
                                <li class="text-muted text-right">₽480</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">뮤</a>
                            <p class="card-text">
                                모든 기술을 사용하기 때문에 포켓몬의 조상이라고 생각하는 학자가 많다.                            </p>
                            <p class="text-muted">Reviews (48)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a class="p-2" href="shop-single.html">
                            <img src="assets/img/pockemon/잠만보.png" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body normal">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li><b>노말</b> 타입</li>
                                <li class="text-muted text-right">₽360</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">잠만보</a>
                            <p class="card-text">
                                빨간 더듬이로부터 냄새를 내어 상대를 쫓아 버린다. 탈피를 반복하여 자라난다.
                            </p>
                            <p class="text-muted">Reviews (74)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Product -->


    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo pokemon" data-before-text="Pokémon">
                        Pokémon
                        <p class="pokemon subtitle" data-before-text="GoChoWoo">GoChoWoo</p>
                    </h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            23, Digital-ro 9-gil, Geumcheon-gu, Seoul, Korea
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:010-1234-5678">010-1234-5678</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:GoChoWoo@pokemon.com">GoChoWoo@pokemon.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Luxury</a></li>
                        <li><a class="text-decoration-none" href="#">Sport Wear</a></li>
                        <li><a class="text-decoration-none" href="#">Men's Shoes</a></li>
                        <li><a class="text-decoration-none" href="#">Women's Shoes</a></li>
                        <li><a class="text-decoration-none" href="#">Popular Dress</a></li>
                        <li><a class="text-decoration-none" href="#">Gym Accessories</a></li>
                        <li><a class="text-decoration-none" href="#">Sport Shoes</a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Home</a></li>
                        <li><a class="text-decoration-none" href="#">About Us</a></li>
                        <li><a class="text-decoration-none" href="#">Shop Locations</a></li>
                        <li><a class="text-decoration-none" href="#">FAQs</a></li>
                        <li><a class="text-decoration-none" href="#">Contact</a></li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="subscribeEmail">Email address</label>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address">
                        <div class="input-group-text btn-success text-light">Subscribe</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2023 GoChoWoo
                            | Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank">Go & Cho & Woo</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="../js/jquery-1.11.0.min.js"></script>
    <script src="../js/jquery-migrate-1.2.1.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/templatemo.js"></script>
    <script src="../js/custom.js"></script>
    <!-- End Script -->
</body>

</html>