<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/layout}">
<main layout:fragment="content">
    <script>
        function updateTotalPrice() {
            const totalPriceElem = document.getElementById("totalPrice");
            const prices = document.getElementsByClassName("totalPrice");
            let totalPrice = 0;
            for (const price of prices) {
                totalPrice += +price.innerHTML;
            }
            totalPriceElem.innerText = totalPrice + "";
        }

        async function onChangeHandler(cart, id, amount) {
            const ok = await updateAmount(cart, id, amount);
            const prefix = cart === "pokemon" ? 'p'
                : cart === "item" ? 'i' : "";
            if (ok) {
                updatePrice(`${prefix}${id}`, amount);
            }
        }

        function updatePrice(id, amount) {
            const price = +(document.getElementById(`${id}price`).innerHTML);
            const total = document.getElementById(`${id}total`);
            total.innerHTML = price * amount + "";
            updateTotalPrice();
        }

        async function updateAmount(cart, id, amount) {
            const response = await fetch(`/api/cart/${cart}`, {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    id,
                    amount,
                }),
            })
            return response.ok;
        }

        async function deleteCart(cart, id) {
            const response = await fetch(`/api/cart/${cart}`, {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    id,
                }),
            })
            return response.ok;
        }

        async function deleteButtonHandler(cart, id) {
            const ok = await deleteCart(cart, id);
            if (ok) {
                location.reload();
            } else {
                alert("fail");
            }
        }

        async function plusAmount(id) {
            const cart = id.charAt(0) === 'p' ? "pokemon"
                : id.charAt(0) === 'i' ? "item" : "";
            if (cart === "") return;
            const amountElem = document.getElementById(`${id}amount`);
            const amount = amountElem.value;
            const newAmount = +amount + 1;
            const ok = await updateAmount(cart, id.slice(1), newAmount);
            if (ok) {
                amountElem.value = newAmount;
                updatePrice(id, newAmount);
            }
        }

        async function minusAmount(id) {
            const cart = id.charAt(0) === 'p' ? "pokemon"
                : id.charAt(0) === 'i' ? "item" : "";
            if (cart === "") return;
            const amountElem = document.getElementById(`${id}amount`);
            const amount = amountElem.value;
            if (amount <= 1) {
                return;
            }
            const newAmount = +amount - 1;
            const ok = await updateAmount(cart, id.slice(1), newAmount);
            if (ok) {
                amountElem.value = newAmount;
                updatePrice(id, newAmount);
            }
        }

        const fetchCurrentCash = async () => {
            try {
                const response = await fetch("/mypage/cash/currentCash", {
                    method: "GET",
                    headers: {
                        "Accept": "application/json"
                    }
                });

                if (response.ok) {
                    return await response.json();
                } else {
                    console.error("Failed to fetch current cash data");
                    return null;
                }
            } catch (error) {
                console.error("An error occurred:", error);
                return null;
            }
        };

        document.addEventListener("DOMContentLoaded", async function () {
            // Your JavaScript function to execute
            updateTotalPrice();
            document.getElementById("cash").innerHTML = await fetchCurrentCash();
        });

        const Toast = Swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        function onSubmitHandler(formElem) {
            const selectedRadio = document.querySelector('input[name="address"]:checked');
            if (!selectedRadio) {
                Toast.fire({
                    icon: 'error',
                    title: '어디로 보낼꺼에요?'
                })
                return false;
            }
            const currentCash = document.getElementById("cash").innerHTML;
            const totalPrice = document.getElementById("totalPrice").innerHTML;
            if (currentCash - totalPrice >= 0) {
                const formData = new FormData(formElem);
                formData.append("totalPrice", totalPrice);
                return true;
            } else {
                Toast.fire({
                    icon: 'error',
                    title: '지송한데, 돈이 없으세요.'
                })
                return false;
            }
        }

    </script>
    <div class="site-section">
        <th:block th:include="fragments/nav"></th:block>
        <div class="container my-5">
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="site-blocks-table">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="product-thumbnail">Image</th>
                                <th class="product-name">Product</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-total">Total</th>
                                <th class="product-remove">Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="pokemonCart : ${pokemonCartList}">
                                <tr th:id="'p'+${pokemonCart.pokemon.id}">
                                    <td class="product-thumbnail"
                                    >
                                        <img th:src="@{/img/pokemon/{name}.png(name=${pokemonCart.pokemon.name})}"
                                             style="height: auto; width: 100%; max-width: 300px"
                                             th:alt="${pokemonCart.pokemon.name}" class="card-img rounded-0 img-fluid">
                                    </td>
                                    <td class="product-name">
                                        <h2 class="h5 text-black" th:text="${pokemonCart.pokemon.name}">포켓몬 이름</h2>
                                    </td>
                                    <td th:text="${pokemonCart.pokemon.price}" th:id="'p'+${pokemonCart.id}+'price'">
                                        가격
                                    </td>
                                    <td>
                                        <div class="input-group mb-3" style="max-width: 120px;">
                                            <div class="input-group-prepend">
                                                <button
                                                        th:onclick="|minusAmount('p'+${pokemonCart.id})|"
                                                        class="btn btn-outline-primary js-btn-minus" type="button">
                                                    &minus;
                                                </button>
                                            </div>
                                            <input type="text" class="form-control text-center"
                                                   th:id="'p'+${pokemonCart.id}+'amount'"
                                                   th:value="${pokemonCart.amount}" placeholder=""
                                                   aria-label="Example text with button addon"
                                                   th:onChange="|onChangeHandler('pokemon', ${pokemonCart.id}, this.value)|"
                                                   aria-describedby="button-addon1">
                                            <div class="input-group-append">
                                                <button
                                                        th:onclick="|plusAmount('p'+${pokemonCart.id})|"
                                                        class="btn btn-outline-primary js-btn-plus" type="button">
                                                    &plus;
                                                </button>
                                            </div>
                                        </div>

                                    </td>
                                    <td>₽<span th:id="'p'+${pokemonCart.id}+'total'"
                                               th:text="${pokemonCart.pokemon.price*pokemonCart.amount}"
                                               class="totalPrice">49.00</span>
                                    </td>
                                    <td>
                                        <button
                                                th:onclick="|deleteButtonHandler('pokemon', ${pokemonCart.id})|"
                                                href="#" class="btn btn-primary btn-sm">X
                                        </button>
                                    </td>
                                </tr>
                            </th:block>

                            <th:block th:each="itemCart : ${itemCartList}">
                                <tr th:id="'i'+${itemCart.item.id}">
                                    <td class="product-thumbnail">
                                        <img th:src="@{/img/item/{name}.png(name=${itemCart.item.name})}"
                                             style="height: auto; width: 100%; max-width: 300px"
                                             th:alt="${itemCart.item.name}" class="card-img rounded-0 img-fluid">
                                    </td>
                                    <td class="product-name">
                                        <h2 class="h5 text-black" th:text="${itemCart.item.name}">포켓몬 이름</h2>
                                    </td>
                                    <td th:text="${itemCart.item.price}" th:id="'i'+${itemCart.id}+'price'">가격</td>

                                    <td>

                                        <div class="input-group mb-3" style="max-width: 120px;">
                                            <div class="input-group-prepend">
                                                <button
                                                        th:onclick="|minusAmount('i'+${itemCart.id})|"
                                                        class="btn btn-outline-primary js-btn-minus" type="button">
                                                    &minus;
                                                </button>
                                            </div>
                                            <input type="text" class="form-control text-center"
                                                   th:id="'i'+${itemCart.id}+'amount'"
                                                   th:value="${itemCart.amount}" placeholder=""
                                                   aria-label="Example text with button addon"
                                                   th:onChange="|onChangeHandler('item', ${itemCart.id}, this.value)|"
                                                   aria-describedby="button-addon1">
                                            <div class="input-group-append">
                                                <button
                                                        th:onclick="|plusAmount('i'+${itemCart.id})|"
                                                        class="btn btn-outline-primary js-btn-plus" type="button">
                                                    &plus;
                                                </button>
                                            </div>
                                        </div>

                                    </td>
                                    <td>₽<span th:id="'i'+${itemCart.id}+'total'"
                                               th:text="${itemCart.item.price*itemCart.amount}"
                                               class="totalPrice">49.00</span></td>
                                    <td>
                                        <button
                                                th:onclick="|deleteButtonHandler('item', ${itemCart.id})|"
                                                href="#" class="btn btn-primary btn-sm">X
                                        </button>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <form class="row" method="post" onsubmit="return onSubmitHandler(this)" action="/api/payment">
                <div class="col-md-6">
                    <div class="row mb-5">
                        <div class="col-md-6 mb-3 mb-md-0">
                            보유중인 코인 : ₽<span id="cash" th:text="${session.get('cash')}"></span>
                        </div>
                        <div class="col-md-6">
                            <button
                                    type="button"
                                    onclick="location.href='/mypage/cash'"
                                    class="btn btn-outline-primary btn-sm btn-block">충전하기
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            배송지
                            <div style="padding: 32px">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">수령인</th>
                                        <th scope="col">주소</th>
                                        <th scope="col">연락처</th>
                                        <th scope="col">요청사항</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="address, i: ${addressList}">
                                        <tr>
                                            <th><input type="radio" th:name="address" th:value="${address.id}"/></th>
                                            <td th:text="${address.recipient}"></td>
                                            <td th:text="${address.address}"></td>
                                            <td th:text="${address.phoneNumber}"></td>
                                            <td th:text="${address.deliveryRequest}"></td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-sm"
                                    onclick="window.location='/mypage/shipping'">배송지 추가하기
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pl-5">
                    <div class="row justify-content-end">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12 text-right border-bottom mb-5">
                                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-6">
                                    <span class="text-black">Total</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-black">₽<span id="totalPrice">230.00</span></strong>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary btn-lg py-3 btn-block"
                                            type="submit">Proceed To Checkout
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</main>
</html>